$bg-dark:#0b0b64;
$bg-light:#fefdfa;
$text-light:#32127a;
$text-dark:#fefefa;
$font-family:'Special Elite', cursive;
$red:#ef233c;
$green:#89fc00;
$yellow:#ffff3f;
$pink:#f90093;
$orange:#ff5714;
$cyan:#6fffe9;
$desktop:800px;